body{
    background-color: aliceblue;
    background-color:aliceblue;
    font-family: 'Lobster', cursive;
    text-align: center;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color:white;
    line-height: 5;
    font-size: 15px;
    text-shadow: 5px 5px 5px grey;
}

